@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8e9fa;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: #000;
    padding: 20px;
    background-color: #29242a;
}

.navbar-brand {
    font-size: 25px;  
}

.navbar-nav{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    text-decoration: none;
    margin-left: 10px;
    font-weight: 500;
}

.logo{
    width: 60px;
    height: 60px;
    margin-left: 20px;
}

.container-fluid{
    font-size: 18px;
}

.container-fluid a{
    color: #edf0f1;
}

.ncpy{
    font-size: 12px;
    color: #000;
    text-align: center;
    bottom: 0;
    padding-top: 5px;
    width: 100%;
    left: 0;
    border: 2px solid #4203031a;
    background-color: #4203031a;
    position: fixed;
}


.deskripsi{
    font-size: 80px;
    color: #6d0064;
    text-align: justify;
    margin-top: 150px;
    font-weight: 600;
    margin-left: 100px;
    margin-right: 250px;
}

.deskripsi2{
    font-size: 75px;
    color: #000;
    text-align: justify;
    font-weight: 600;
    margin-left: 100px;
}

.ket{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: #000;
    text-align: justify;
    margin-left: 100px;
}

.image_home1{
    width: 960px;
    height: 900px;

    margin-top: 15px;
}


.nav-link:hover{
    color: rgb(251, 127, 255);
    
}

button {
    padding: 9px 25px;
    background-color: rgb(141, 0, 169);
    border: none;

    border-radius: 50px;
    cursor: pointer;
    transform: all 0.3s ease 0s;
    color: #edf0f1;
}

button:hover {
    background-color: rgb(251, 127, 255);
}