body {
    font-family: sans-serif;
    background-color: #cca5a5;
  }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: #000;
    padding: 20px;
    background-color: #420303;
    /* Change background color to dark */
}
.logo{
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.nav-link:active{
    color: aquamarine;
    
}

.nav-link:hover{
    color: rgb(251, 127, 255);
    
}

  section {
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 10px auto;
    max-width: 1600px;
  }



  .feature-box {
    margin-bottom: 10px;
  }

  .top {
    border-bottom: 1px solid #dddddd;
  }

  .second {
    border-top: 1px solid #dddddd;
  }

  .col-sm {
    display: flex;
    justify-content: center;
  }

  .named{
    color: #000;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
  }

  .desk{
    color: #000;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

  .cam{
    width: 800px;
    height: 600px;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 10px;
  }

  .fa-camera {
    padding: 10px;
    font-size: 36px;
    color: #00C4CC;
  }

  /* Button styles */
  .btnHome {
    margin-top: 20px;
    text-align: center;
  }

  .btnCustom {
    background-color: #2c0a02;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }

  