@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8e9fa;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: #000;
    background-color: #29242a;
}

.navbar-brand {
    font-size: 25px;  
}

.logo{
    width: 60px;
    height: 60px;
    margin-left: 40px;
}

.navbar-nav{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    text-decoration: none;
    margin-left: 10px;
    font-weight: 500;
}

.container-fluid{
    font-size: 18px;
}

.container-fluid a{
    color: #edf0f1;
}

.nav-link:hover{
    color: rgb(251, 127, 255);
    
}

.named{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: #000;
    text-align: center;
    margin-top: 20px;
}

.deskripsi{
    font-size: 20px;
    color: #000;
    text-align: center;
    margin-top: 50px;
}

.format{
    font-size: 20px;
    color: #000;
    font-weight: bold;
    text-align: center;
}

/* Main section styles */
section.col-sm {
    background-color: rgb(141, 0, 169);
    max-width: 900px; /* Set your desired maximum width */
    max-height: 900px; /* Set your desired maximum height */
    width: 100%;
    height: 100%;
    border-radius: 25px;
    margin: 0 auto; /* Center horizontally */
    margin-top: 40px; /* Add top margin for vertical centering */
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden; /* Add this line to hide overflowing content */
}

img {
    max-width: 40%; /* Set the image width to be responsive within the container */
    max-height: 40%; /* Set the image height to be responsive within the container */
    flex-grow: 1;
    border-radius: 10px;
    object-fit: contain;
    margin: 20px;
}

.new {
    color: #000;
    margin: 0;
    padding: 10px;
    background-color: #dadada;
    margin: 0;
    margin-top: -10px;
    margin-bottom: -10px;
    text-align: center;
}

/* .custom-file-input {
    margin-bottom: 20px;
} */

.btnCustom {
    background-color: #29242a;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.btnCustom:hover {
    background-color: rgb(141, 0, 169);
}



/* Button styles */
.btnHome {
    margin-top: 20px;
    text-align: center;
}

button {
    padding: 9px 25px;
    background-color: rgb(141, 0, 169);
    border: none;

    border-radius: 50px;
    cursor: pointer;
    transform: all 0.3s ease 0s;
    color: #edf0f1;
}

button:hover {
    background-color: rgb(251, 127, 255);
}