@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8e9fa;
}

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: #000;
    padding: 20px;
    background-color: #29242a;
}

.navbar-brand {
  font-size: 25px;  
}

.navbar-nav{
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-decoration: none;
  margin-left: 10px;
  font-weight: 500;
}

.logo{
  width: 60px;
  height: 60px;
  margin-left: 20px;
}

.container-fluid{
  font-size: 18px;
}

.container-fluid a{
  color: #edf0f1;
}

.nav-link:active{
    color: aquamarine;
    
}

.nav-link:hover{
    color: rgb(251, 127, 255);
    
}

button {
  padding: 9px 25px;
  background-color: rgb(141, 0, 169);
  border: none;

  border-radius: 50px;
  cursor: pointer;
  transform: all 0.3s ease 0s;
  color: #edf0f1;
}

button:hover {
  background-color: rgb(251, 127, 255);
}

  section {
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 360px auto;
    max-width: 1600px;
  }

  .named{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #000;
    font-size: 26px;
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
  }
